<div class="trm-contacts-creator">
  <form [formGroup]="contactsForm" (ngSubmit)="save(form.value)">
    <md-card>
      <md-card-title-group>
        <img md-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container fxFlex [dividerColor]="contactsForm.get('name').errors ? 'warn' : 'primary'">
            <input md-input placeholder="Name" formControlName="name">
            <md-hint align="end" *ngIf="!contactsForm.get('name').valid && !contactsForm.get('name').pristine">
              <template [ngIf]="contactsForm.get('name').errors?.required">Gelieve een naam in te vullen</template>
              <template [ngIf]="contactsForm.get('name').errors?.minlength">De naam moet minimum {{contactsForm.get('name').errors.minlength.requiredLength}} tekens lang zijn, maar was {{contactsForm.get('name').errors.minlength.actualLength}}</template>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex [dividerColor]="contactsForm.get('email').errors ? 'warn' : 'primary'">
            <input md-input placeholder="Email" formControlName="email">
            <md-hint align="end" *ngIf="!contactsForm.get('email').valid && !contactsForm.get('email').pristine">
              <template [ngIf]="contactsForm.get('email').errors?.validateEmail">Gelieve een geldig e-mailadres in te vullen</template>
              <template [ngIf]="contactsForm.get('email').errors?.emailTaken">Dit e-mailadres is reeds in gebruik</template>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Birthday" type="date" formControlName="birthday">
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Phone" formControlName="phone">
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Website" formControlName="website">
          </md-input-container>
          <fieldset fxLayout="column" formGroupName="address">
            <legend>Address</legend>
            <md-input-container fxFlex>
              <input md-input placeholder="Street" formControlName="street">
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="Zip" formControlName="zip">
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="City" formControlName="city">
            </md-input-container>
          </fieldset>
        </div>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button type="submit" [disabled]="!contactsForm.valid">Save</button>
        <a md-button title="Cancel creating new contact">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>